@import 'normalize.css';

/* CUSTOM CSS */

* {
	/* font-family: 'Times New Roman', Times, serif; */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	box-sizing: border-box;
	--text-color: rgb(1, 40, 4);
}

p, a {
	color: blue;
	font-size: 20px;
}

p {
	margin: auto 3rem;
}

a:hover {
	text-decoration-style: wavy;
}

.modal {
	display: none;
}

.modal.active {
	display: block;
	margin-top: 10px;
    margin-left: 3rem;
}

/* m desktop */
@media (min-width: 701px) {

}

/* lg desktop */
@media (min-width: 1024px) {
	
}