@import 'normalize.css';

/* CUSTOM CSS */
@font-face {
	font-family: "BradfordLLWebTrial-Regular";
	src: url("BradfordLLWebTrial-Regular.woff") format("woff");
}
* {
	/* font-family: 'Times New Roman', Times, serif; */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	box-sizing: border-box;
	--text-color: rgb(1, 40, 4);
}

p, a {
	color: blue;
	/* font-size: 20px; */
	font-size: 8rem;
	line-height: 0.75;
	overflow-x: hidden;
}

p {
	/* margin: auto 3rem; */
	margin: 0;
}

a:hover {
	text-decoration-style: wavy;
}

span {color: blue; font-size: 16px;}
/* .modal {display: none;}

.modal.active {
	display: block;
	margin-top: 10px;
    margin-left: 3rem;
	border: blue 1px solid;
	width: fit-content;
	padding: 3px;
} */

/* m desktop */
@media (min-width: 701px) {
	p, a {
		font-size: 10rem;
		line-height: 0.75;
	}

}

/* lg desktop */
@media (min-width: 1024px) {
	
}